// src/styles/com-la.header.scss


@use './_base.variables.scss' as *;
@use './_base.mixins.scss' as *;


// ### Styles for ./components/layout/header

.header {
    @include displayFlex(row nowrap, space-between, center);
    @include fontSans(16px, 400, $COLORS-base-900);
    position: fixed;
    top: 0;
    z-index: 90;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: $COLORS-base-100;
    // box-shadow: inset 0px -4px 10px -2px rgba(0,0,0,0.1);
    //     -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0,0,0,0.1);
    .logo {
        @include hoverPointer();
        height: 30px;
    }
    .nav-group {
        position: relative;
        @include displayFlex(row nowrap, center, center);
        gap: 1.5rem;
        .tab {
            @include hoverPointer();
            margin: 10px 0;
            @include fontSans(1.05rem, 400, $COLORS-base-900);
        }
        .tab.active {
            color: $COLORS-red-900;
            font-weight: 600;
        }
        .btn-solid-red {
            @include fontSans(1.05rem, 600, $COLORS-base-100);
        }
        .btn-solid-red.active {
            color: $COLORS-base-100;
        }
        .language-toggle {
            @include hoverPointer();
        }
        .languages-box {
            position: absolute;
            @include displayFlex(row nowrap, center, center);
            gap: 1rem;
            top: 2rem;
            right: -20px;
            padding: 10px;
            padding-right: 20px;
            padding-bottom: 5px;
            border-radius: 5px;
            background-color: $COLORS-base-100;
            .language-flag {
                @include displayFlex(row nowrap, center, center);
                @include hoverPointer();
                svg {
                    border-radius: 2px;
                }
            }
            @media (min-width: 786px) {
                top: 3rem;
                right: 6rem;
                padding-right: 10px;
            }
        }
    }
    .buttonMenu {
        @include hoverPointer();
        .icon {
            width: 28px;
        }
    }
    .navContainer {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        height: calc(100dvh - 50px);
        min-width: 40%;
        background-color: $COLORS-red-900;
        padding: 40px 10px;
        z-index: 99;
        &.open {
            @include displayFlex(column wrap, center, center);
            animation: expand-menu 1.2s forwards;
        }
        .tab {
            @include hoverPointer();
            margin: 10px 0;
            @include fontSans(1.5rem, 600, $COLORS-base-100);
        }
        .tab.active {
            color: $COLORS-red-900;
            font-weight: 700;
            background-color: $COLORS-base-100;
            padding: 0.15rem 2rem;
            border-radius: 0.4rem;
        }
        .dropdown-languages-box {
            position: absolute;
            top: 1rem;
            right: 1rem;
            @include displayFlex(row wrap, center, center);
            gap: 1.5rem;
            background-color: $COLORS-red-100;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 5px;
            .language-flag {
                @include displayFlex(row wrap, center, center);
                @include hoverPointer();
                svg {
                    border-radius: 3px;
                }
            }
        }
    }
    @media (min-width:1440px) {
        max-width: 1430px;
        border-radius: 0 0 5px 5px;
    }
}

@keyframes expand-menu {
    from { clip-path: circle(0% at 100% 0%); }
    to { clip-path: circle(150% at 100% 0%); }
}